.main-bg {
  background-image: url("../src/assets/cover/cover-page.jpg");
  /* background-image: url("/public/images/mac.jpg"); */
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  min-height: calc(100vh - 82px);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-item {
  background-color: orangered;
  display: flex;
  list-style: none;
}

.nav-item h1 {
  align-self: flex-start;
}

.nav-tabs {
  align-self: center;
  justify-content: space-between;
  display: flex;
  margin-left: 250px;
  margin-right: 10px;
}

.nav-items {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-items a {
  text-decoration: none;
}

a {
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
}
